<template>
  <section class="container">
    <div class="card">
      <section class="card-content">
        <div class="row">
          <div class="input-field col s12">
            <input 
              type="text" 
              name="title" 
              v-model="title" 
              id="title" 
              placeholder="Enter a title"
            >
            <label for="title" class="active">Title</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <textarea
              class="input-field materialize-textarea active"
              id="note"
              v-model="note"
              placholder="Write something!"
              ref="note"
            >{{ note }}</textarea>
            <label for="note"  class="active">Note</label>
          </div>
        </div>

        <div class="card-action">
          <a 
            class="green btn" 
            @click.prevent="saveNote"
          >Save <i class="material-icons right">save</i></a>
          <a 
            href="#"
            class="grey-text card-action__item--delete" 
            @click.prevent="discardNote" 
            v-html="preloaded?'Delete':'Discard'"
          ></a>
        </div>
      </section>
    </div>
  </section>
</template>

<script>
  import slugify from 'slugify'

  export default {
    name: 'Edit',
    data: function() {
      return {
        note: "",
        title: "",
        preloaded: false
      }
    },
    mounted: function() {
      if(this.$route.params.slug) {
        // Try to get the note based on the slug
        let ls = this.$localStorage.get(this.$route.params.slug)
        try {
          ls = JSON.parse(ls)
          this.note = ls.body
          this.title = ls.title
          this.preloaded = true
        } catch (e) {}
      }

      // Auto-resize the textarea box
      this.$nextTick(function() {
        M.textareaAutoResize(this.$refs.note)
      })
    },
    methods: {
      saveNote() {
        // Can't save a note as new
        if (this.title.toLowerCase() == "new") {
          alert('Illegal Name')
          return
        }

        // Store the new note
        this.$localStorage.set(this.makeSlug(this.title), JSON.stringify({
          title: this.title,
          slug: this.makeSlug(this.title),
          body: this.note
        }))

        // Route back to the new/updated note
        this.$router.push({
          path: `/note/${this.makeSlug(this.title)}`
        })

        M.toast({
          html: 'Note saved! <i class="small material-icons">check_circle_outline</i>',
          classes: 'rounded green white-text'
        })
      },
      discardNote() {
        // If the note is existing
        if(this.preloaded) {
          // Delete the note from ls
          this.$localStorage.remove(this.$route.params.slug)

          M.toast({
            html: 'Note deleted! <i class="small material-icons">delete</i>',
            classes: 'rounded green white-text'
          })

        // Otherwise just route home
        } else {
          M.toast({
            html: 'Note discarded <i class="small material-icons">error_outline</i>',
            classes: 'rounded orange white-text'
          })
        }

        this.$router.push({
          path: '/'
        })

      },
      makeSlug: function(value) {
        return slugify(value).toLowerCase()
      }
    }
  };
</script>