<template>
  <div class="container Listing">
    <section class="card" v-if="notes" v-for="note in notes">
      <article class="card-content">
        <router-link :to="`/note/${note.slug}`">
          <h2 class="Note__title">
            {{ note.title }}
          </h2>
        </router-link>

        <p class="Note__body">{{note.body | truncate(200)}}</p>
        <div class="card-action">
          <router-link 
            :to="`/note/${note.slug}`"
            class="grey-text"
          >Read Note</router-link>
          <router-link 
            :to="`/note/${note.slug}/edit`"
            class="grey-text"
          >Edit</router-link>
          <a href="#" @click.prevent="discardNote(note.slug)" class="grey-text">Delete</a>
        </div>
      </article>
    </section>

    <div class="Listing__actions">
      <h6 v-if="!notes.length">No notes yet...</h6>
      <router-link to="/note/new" class="btn green">Create a new note</router-link>
    </div>

    <div class="fixed-action-btn">
      <router-link to="/note/new" class="btn-floating btn-large green">
        <i class="large material-icons">mode_edit</i>
      </router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: "home",
  data: () => {
    return {
      notes: []
    }
  },
  filters: {
    truncate: function(value, length) {
      length = length || 200

      if (value.length > length) {
        return value.substring(0, (length - 3)) + '...'
      }

      return value
    }
  },
  mounted: function() {
    this.getNotes()
  },
  methods: {
    getNotes() {
      // Loop through all items in ls and try to parse
      for (var i = 0; i < localStorage.length; i++){
        try {
          this.notes.push(JSON.parse(localStorage.getItem(localStorage.key(i))))
        } catch (e) {}
      }
    },
    discardNote(slug) {
     for(let note in this.notes) {
      // Loop through notes to find note to delete 
      if(this.notes[note].slug == slug) {
        this.notes.splice(note, 1)
        this.$localStorage.remove(slug)
      }
    }

    M.toast({
      html: 'Note deleted! <i class="small material-icons">delete</i>',
      classes: 'rounded orange white-text'
    })
  }
}
};
</script>
