<template>
  <div class="container">
    <div class="card">
      <article class="card-content">
        <h1 class="Note__title">{{ title }}</h1>
        <p class="Note__body">{{ note }}</p>

        <div class="card-action">
          <a 
            href="#" 
            @click.prevent="discardNote"
            class="grey-text lighten-1"
          >
            Delete Note
          </a>
          <router-link
            :to="`/note/${slug}/edit`"
            class="grey-text lighten-1"
          >
            Edit Note
          </router-link>
        </div>
      </article>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'read',
    data: function() {
      return {
        note: "",
        title: "",
        slug: ""
      }
    },
    mounted: function() {
      // Try to lookup note
      let lookup = this.$localStorage.get(this.$route.params.slug)

      try {
        lookup = JSON.parse(lookup)
      } catch (e) {
        // Can't find that note :(
        M.toast({
          html: 'Couldn\'t find that note... <i class="small material-icons">error_outline</i>',
          classes: 'rounded red white-text'
        })

        this.$router.push({
          path: '/'
        })
      }

      if(lookup) {
        this.note = lookup.body
        this.title = lookup.title
        this.slug = lookup.slug
      } else {
        M.toast({
          html: '<i class="small material-icons">error_outline</i> Couldn\'t find that note...',
          classes: 'rounded red white-text'
        })

        this.$router.push({
          path: '/'
        })
      }
    },
    methods: {
      discardNote() {
        this.$localStorage.remove(this.$route.params.slug)
        
        M.toast({
          html: 'Note discarded <i class="small material-icons">error_outline</i>',
          classes: 'rounded orange white-text'
        })
        this.$router.push({
          path: '/'
        })
      }
    }
  };
</script>