<template>
  <div id="app">
    <nav class="app__nav purple lighten-1">
      <div class="nav-wrapper container">
        <router-link to="/" class="brand-logo">
          <i class="material-icons left">assignment</i>localNote
        </router-link>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <router-link to="/" tag="li">
            <a>Home</a>
          </router-link>
          <router-link to="/note/new" tag="li">
            <a>New Note</a>
          </router-link>
        </ul>
      </div>
    </nav>

    <transition name="fade">
      <router-view />
    </transition>
  </div>
</template>

<style>
body {
  min-height: 100vh;
}

#app {
  font-family: "Open Sans", "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, .brand-logo {
  font-family: "Raleway", "Avenir", Helvetica, Arial, sans-serif;
}

.app__nav {
  padding: 0 18px;
}

#app > .container {
  padding: 30px 0;
}

.Note__title {
  color: #444;
  font-size: 30px;
  margin-top: 8px;
}

.Note__body {
  color: #666;
  font-size: 16px;
  white-space: pre-wrap;
}

.card-action {
  margin-top: 16px;
}

.card-action__item--delete {
  margin-left: 18px;
}

.Listing__actions {
  margin-top: 28px;
}

#toast-container .toast i {
  margin-left: 16px;
}

#app .input-field label {
 color: #9c27b0;
}

/* label focus color */
#app .input-field input[type=text]:focus + label {
  color: #9c27b0;
}
/* label underline focus color */
#app .input-field input[type=text]:focus,
#app .input-field textarea:focus {
  border-bottom: 1px solid #9c27b0;
  box-shadow: 0 1px 0 0 #333;
}
/* valid color */
#app .input-field input[type=text].valid {
  border-bottom: 1px solid #9c27b0;
  box-shadow: 0 1px 0 0 #333;
}
/* invalid color */
#app .input-field input[type=text].invalid {
  border-bottom: 1px solid #9c27b0;
  box-shadow: 0 1px 0 0 #333;
}
/* icon prefix focus color */
#app .input-field .prefix.active {
  color: #9c27b0;
}

.fade-enter-active {
  transition: all .3s ease .3s;
}

.fade-leave-active {
  transition: all .2s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

</style>
